<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293052777828-77c387bcicf8emmee27kupp9n2pucvq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293052777828-77c387bcicf8emmee27kupp9n2pucvq7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293052777828-lf4p9eo910jumvptc1tmpia84p5vcggl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCanVkGqr4v8kqNcFKFLp_whqwlH7VJst4</string>
	<key>GCM_SENDER_ID</key>
	<string>293052777828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicehub</string>
	<key>PROJECT_ID</key>
	<string>service-hub-ba6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>service-hub-ba6e8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293052777828:ios:11e4d75964e147c1dfa671</string>
</dict>
</plist>